<div class="container-fluid py-3">
    <!-- Start Subdomain Search -->
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-lg-10 col-xl-6">
            <div class="card">
                <div class="card-body text-center p-4 p-sm-5">
                    <h1 class="card-title fw-bolder mb-3">SubdomainLy</h1>
                    <p class="card-text mb-4" id="typing-text">
                        <span>Buat subdomain gratis dan unik dengan Subdomainly.</span>
                    </p>
                    <div class="mb-3">
                        <div class="input-group input-group-lg">
                            <input
                                type="text"
                                class="form-control"
                                id="subdomain-search-input"
                                placeholder="Cari Subdomain"
                                aria-label="Cari Subdomain"
                                aria-describedby="btn-search"
                                onkeydown="handleEnterKey(event)"
                                oninput="handleSearchInput(event)"
                            />
                            <button
                                class="btn btn-outline-primary"
                                type="button"
                                disabled
                                id="btn-search"
                                onclick="searchSubdomain()"
                            >
                                <i class="fa-solid fa-magnifying-glass"></i>       
                                Cari
                            </button>
                        </div>
                        <div class="text-danger mt-2" id="searchError">
                            <!-- Error message will be displayed here -->
                        </div>
                    </div>

                    <div
                        id="turnstile-container"
                        data-theme="light"
                        data-appearance="execute"
                    ></div>

                    <!-- Add this spinner element somewhere in your HTML -->
                    <div id="loadingSpinner" class="spinner-border" role="status" hidden>
                        <span class="sr-only">Loading...</span>
                    </div>

                    <div id="subdomainsSearcehResultContainer" class="mt-4" hidden>
                        <h3 class="card-title mb-3">Subdomain yang Tersedia</h3>
                        <div id="result-list" class="list-group">
                            <!-- Hasil pencarian akan dimasukkan di sini -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subdomain Search -->

    <!-- Start Subdomain Created -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-6">
            <div class="card">
                <div class="card-body text-center p-4">
                    <h3 class="card-title fw-medium mb-4">Subdomain Terdaftar</h3>
                    <div class="row justify-content-center" id="registeredSubdomainContainer">
                        <!-- Daftar subdomain akan ditampilkan di sini -->
                    </div>
                    <!-- Pagination controls -->
                    <nav>
                        <ul class="pagination justify-content-center" id="paginationControls">
                            <!-- Kontrol pagination akan ditambahkan di sini -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subdomain Created -->

    <%- include('partials/footer') %>
</div>


<%- include('partials/modal-create') %>
<%- include('partials/modal-update') %>
<%- include('partials/modal-delete') %>
<%- include('partials/modal-security-code') %>
<%- include('partials/modal-report') %>


<script>
    const node_env = "<%= process.env.NODE_ENV %>";
    let SERVER_URL = "<%= process.env.SERVER_DOMAIN %>";
    let TURNSTILE_SITE_KEY = "<%= process.env.TURNSTILE_SITE_KEY %>";
</script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
></script>
<script src="static/js/utils.js"></script>
<script src="static/js/search-subdomain.js"></script>
<script src="static/js/registered-subdomain-get.js"></script>
<script src="static/js/registered-subdomain-create.js"></script>
<script src="static/js/registered-subdomain-update.js"></script>
<script src="static/js/registered-subdomain-delete.js"></script>
<script src="static/js/report-subdomain.js"></script>

